<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>تدريب Docker</title>
  </head>
  <body>
    <div class="min-h-screen flex">
      <div class="w-1/2">
        <h1 class="mt-6 text-4xl text-bold">أرحب ب Docker</h1>
        <p class="mt-6 text-2xl">
          احسنت! قدرت تشغل البرنامج. انت افضل مبرمج بالتاريخ.
        </p>
        <p class="mt-2 text-2xl">يالله عاد عطيناك وجه ارجع للمقال</p>
      </div>
      <div class="w-1/2">
        <img
          class="object-cover min-h-full"
          src="https://images.pexels.com/photos/1134190/pexels-photo-1134190.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
      </div>
    </div>
  </body>
</html>
